@model PhamMinhTuan_231230946_de02.Models.PmtCatalog

@{
    ViewData["Title"] = "Edit";
}

<h1>PmtEdit</h1>

<h4>PmtCatalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PmtEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PmtId" />
            <div class="form-group">
                <label asp-for="PmtCateName" class="control-label"></label>
                <input asp-for="PmtCateName" class="form-control" />
                <span asp-validation-for="PmtCateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PmtCatePrice" class="control-label"></label>
                <input asp-for="PmtCatePrice" class="form-control" />
                <span asp-validation-for="PmtCatePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PmtCateQty" class="control-label"></label>
                <input asp-for="PmtCateQty" class="form-control" />
                <span asp-validation-for="PmtCateQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PmtPicture" class="control-label"></label>
                <input asp-for="PmtPicture" class="form-control" />
                <span asp-validation-for="PmtPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PmtCateActive" class="control-label"></label>
                <input asp-for="PmtCateActive" class="form-control" />
                <span asp-validation-for="PmtCateActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PmtIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
