@{
    ViewData["Title"] = "About Page";
}

<div>
    <h1 class="display-4">About</h1>
    <p>Họ và tên: Phạm Minh Tuấn</p>
    <p>Mã sinh viên: 231230946</p>
    <p>Lớp: Công nghệ thông tin 2 - K64</p>
</div>

